body{
    background-color: #000000;
    overflow: hidden;
}

main::after{
    content: "";
    width: 80vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(-233deg, #000000 40%, rgba(0,0,0,0) 65%) no-repeat;
    
}

main .personagem{
    display:none;
    height: 100vh;
}

.personagem.selecionado{
    display: block;
}

main .personagem .imagem{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo{
    color: white;
    font-family: "Secular One", sans-serif;
    position: absolute;
    top:0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1;
}

.nome-personagem{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 20px;
}

.descricao{
    font-family: "Rubik";
    line-height: 24px;

}

.conteudo .logo{
    background-image: url("../images/one-piece-logo.png");
    background-size: cover;
    width: 230px;
    height: 100px;
    margin-bottom: 35px;
}

.botoes{
    position: fixed;
    top:0;
    right: 0;
    background-color: rgba(0,0,0,0.3);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 180px;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.botoes .botao{
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
}

.botao img{
    border-radius: 50%;
}

.botoes .botao.selecionado{
    transform: scale(1.2);
    box-shadow: 0 0 10px #d9d9d9;
}

@media(max-width: 800px){
    main::after{
        width: 100vw;
        background: linear-gradient(0deg, #000000 20%, rgba(0,0,0,0) 65%) no-repeat;
        
    }

    main .personagem .imagem{
        height: 85%;
    }

    .conteudo{
        justify-content: flex-end;
        left: 0;
        top:-20%;
        max-width: 100vw;
        padding: 30px;
    }

    .conteudo .nome-personagem{
        font-size: 36px;
    }

    .conteudo .descricao{
        max-width: 500px;
    }

    .botoes{
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        padding: 30px;
    }

    .botoes .botao img{
        max-width: 60px;
    }
}

@media(max-width: 425px){
    .conteudo .logo{
        width: 170px;
        height: 75px;
    }

    .conteudo{
        top: -30%;

    }

    .conteudo .nome-personagem{
        font-size: 24px;
    }

    .conteudo .descricao{
        font-size: 14px;
    }

    .botoes{
        padding: 20px;
        top: -20%;
    }

    .botoes .botao img{
        max-width: 50px;
    }
}